.gradle
build

/.idea

hs_err_pid*
replay_pid*

captures/
.externalNativeBuild/
.cxx/
output.json
debug
release
google-services.json
local.properties
*.apk

*.jks
*.keystore
*.jar
!gradle-wrapper.jar
*.zip
*.tar.gz
*.log
*.class
*.hprof
